@charset "utf-8";

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background: linear-gradient(90deg, rgba(2,0,36,1) 36%, rgba(2,2,2,1) 74%, rgba(0,0,0,1) 100%);
}

html{
   scroll-behavior:smooth ;
}

/* container central */

 .container-central{
    width: 100%;
  
    display: flex;
 }

   /* ESSE CONTAINER COMPORTA AS DIV'S .MENU E .PAINEL */

 /* fim do container central */



 /* container menu */

.container-central .checkbtn{
   color: white;
   z-index: 1;
   cursor: pointer;
   font-size: 30px;
   margin: 20px;
   display: none;
}

input[type=checkbox]{
   display: none;
   background-color: white;
   
}
  
 .container-central .menu{
    width: 250px;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,2,2,1) 35%, rgba(2,0,36,1) 100%);
    position: fixed  ;
    top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
 }

 .menu .navegacao{
   width: 100%;
   display: flex;
   text-align: center;
   flex-direction: column;
   gap: 20px;
   
 }

 .menu .navegacao a{
   color: white;
   text-decoration: none;
   padding: 20px;
   border-left: 5px solid transparent;
 }

 .menu .navegacao a:hover{
   background-color: rgba(192, 192, 192, 0.167);
   color: #0101ff;
   border-left: 5px solid #0101ff;
   transition: .8s;
 }

 .menu .midias{
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 20px;
   position: relative;
   top: 200px;
 }

 .menu .midias a{
   color: white;
   font-size: 20px;
 }

 /* fim do container menu */




 /* container painel */

 .container-central .painel{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
 }

 /* box */

 .painel .box{

   width: 100%;
   height: 100vh;
   margin:  20px auto;

  
}

/* FORMATAÇÃO DA JANELA DE CADA SEÇÃO */

/* FIM DA BOX */





 /* CONTAINER HOME */

 .painel #home{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  
 }

 .painel #home .bloco{
   min-width: 500px;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;  
   background-color: rgba(255, 255, 255, 0.06);
   color: white;
   
 }

 /* apresentação */ 

 .tituloh1{
  max-width: 400px;
  font-size: 3em;
  margin: 0px auto;
  text-align: center;
 }

 #home p{
  max-width: 400px;
  margin: 10px auto;
 }

 #home .bloco img{
  width: 400px;
  height: 380px;
  border-radius: 48%;
 }

 

 /* fim do container home */ 

 /* Conhecimentos */

 .painel #conhecimentos {

   display: flex;
   justify-content: center;
   align-items: center;

 }

 .painel #conhecimentos .card-conhecimentos{
   width: 90%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px ;
   background-color: rgba(255, 255, 255, 0.06);
   font-size: 100px;
   border-radius: 15px;
 }

 /*fim da seção conhecimentos/*

 /* seção portifólio */

 .painel #portifolio{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

 }

 .painel #portifolio .card{
   width: 250px;
   height: 200px;
   margin: 10px auto;
   border: 1px solid black;
   cursor: pointer;
   background-color: white;
   border-radius: 20px;
 }

 /* fim do container portifolio */






 /* fim do container painel */
