ul {
    width: 50%;
    padding: 20px 40px;
    margin-top: 40px;
}

ul li {
    width: 100%;
    height: 50px;
    margin: 18px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul li span {
    font-size: 1.5rem;

}

ul li div {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

li div a {
    color: rgb(6, 84, 230);
}

li div a:hover{
    color: blue;
}

li div button{
    padding: 10px;
    background-color: rgb(236, 16, 16);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}