*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.geral{
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
}

.marca{
    width: 1200px;
    height: 150px;
    background-color: #ccc;
}

.conteudo{
    float: right;
    width: 900px;
    border: 1px solid red;
    padding: 10px 20px;
}

.conteudo p{
    margin-bottom: 10px;
    line-height: 30px;
}

.navegacao{
    float: left;
    width: 280px;
    border: 1px solid blue;
    
}

.navegação ul{
    width: 100%;
  
}

.navegacao li{
    list-style-type: none;
    background-color:seagreen ;
    margin: 1px 0;
    padding: 20px 0px;
    cursor: pointer;
}

.navegacao li:hover{
    background-color: rgb(21, 67, 41);
}

.navegacao a{
    text-decoration: none;
    padding: 8px;
    color: white;
}
.rodape{
    clear: both;
    width: 1200px;
    background-color: #ccc;
    height: 50px;
    
}

