@charset "utf-8";


/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --corprincipal:#7aafd6;
    --corcontraste:#314a7e;
    --corneutra:rgb(133, 133, 133);
}



/* logo */




header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    flex-wrap: wrap;
}

header .logo{
    margin-left: 50px;
}
header img{
    width: 100px;
}


/* menu */

header .checkbtn {
    margin-left: auto;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

header #check{
    display: none;
   
}


header #home, #lifesaver, #comunicado, #contato{
    color: var(--corcontraste);
    border-bottom: 2px solid var(--corcontraste);
}

header nav{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    gap: 20px;
}

header nav a{
    text-decoration: none;
    color: var(--corprincipal);
    border-bottom: 2px solid transparent;
    padding: 8px 16px;
}

header nav a:hover{
    color: var(--corcontraste);
    border-bottom: 2px solid var(--corcontraste);
    transition: .9s;
}

/* Main home */

#body-home main {
    width: 100%;

}

#body-home main .slide{

    max-width: 700px;
    height: 70vh;
    margin: 0 auto;
    padding: 0 2%;
    background-color:var(--corcontraste);
    animation-name: slide;
    animation-duration: 30s;
    animation-direction:alternate ;
    animation-iteration-count: infinite;
}

/* efeito do slide */

@keyframes slide{

    0%{
        background-image: url('https://www.lifesaver.com.br/img/portfolios/oftalmico/oftalmo01.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    25%{
        background-image: url('https://www.lifesaver.com.br/img/portfolios/kits/cesarea.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    50%{
        background-image: url('https://www.lifesaver.com.br/img/portfolios/kits/ombro.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    75%{
        background-image: url('https://www.lifesaver.com.br/img/portfolios/kits/universal_lp03.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    100%{
        background-image: url('https://www.lifesaver.com.br/img/portfolios/kits/pe.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

} /* fim do @keyframe */

#body-home main .container{

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2%;
}

#body-home main .bloco{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    max-width: 600px;
    height: 300px;
}

#body-home main .bloco p{
    width: 100%;
    text-align: justify;
    font-size: .9em;
    line-height: 30px;
    margin-top: 20px;
}

/* main Lifesaver */


#body-lifesaver main .sobre{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--corcontraste);
    color: white;
    line-height: 50px;
}

#body-lifesaver main .sobre h1{
    margin-left: 50px;
}

#body-lifesaver main .conteudo{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2%;
}

#body-lifesaver main  .titulo{
    color: var(--corprincipal);
    margin-bottom: 20px;
}

#body-lifesaver main .texto{
    color: var(--corneutra);
    line-height: 30px;
    font-size: .9em;
    text-align: justify;
    margin-bottom: 20px;
}

#body-lifesaver main .missao{

    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 30px auto;
    padding: 0 2%;
    flex-wrap: wrap;
    background-color: var(--corcontraste);

}

#body-lifesaver main .missao .coluna-texto{
    color: white;
    margin: 20px auto;
    font-size: .9em;
    max-width: 250px;
    text-align: justify;
}

#body-lifesaver main .missao .coluna-texto h4{
    margin-bottom: 10px;
    font-size: 1em;
}

#body-lifesaver main .politica{
    max-width: 700px;
    margin: 20px auto;
    padding: 0 2%;
}

/* body lifesaver seção footer */

footer{
    background-color: var(--corcontraste);
    text-align: center;
    color: var(--corneutra);
    width: 100%;
    min-height: 40px;
    line-height: 40px;
}









