*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #f1f1f1;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.containerSearch{
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 50%;
    min-width: 200px;
    height: 40px;
    padding: 5px 20px;
    border: 1px solid #f1f1f1;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    background-color: #3a3939e3;
}

button{
    height: 40px;
    padding: 0 20px;
    background-color: cornflowerblue;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}

.card{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 400px;
    height: auto;
    border-radius: 5px;
    background-color: #1a1919;
    display: none;
    border-radius: 30px;
    transition-property:all ;
    transition: 1s;
}

.containerImage{
    width: 60%;
}

#avatarUser{
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
}

.containerInfo{
    width: 40%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 10px 15px;
}

