@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body{
    width:100%;
    height: 100vh;
    
}


.form{
    min-width: 380px;
    width: 30%;
    position: absolute;
    top: 50%;
    left:50%; 
    translate: -50% -50%;
}

.form h1{
    text-align: center;
    margin-bottom: 50px;
}

.form input[type=text],
.form input[type=password]{

    width:100%;
    height: 45px;
    border: 2px solid #393939;
    padding-left:10px;
    border-radius: 5px;
    outline: none;
}


.form input[type=text]{
    
    background-image: url('imagens/User-avatar.svg.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 97% ;
}


.form input[type=password]{
    
    background-image: url('imagens/cadeado.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 97% ;
}

.form button{
    width: 100%;
    height: 50px;
    background-color: #4f1b80;
    color: white;
    font-size: 20px;
    border:2px solid rgb(79, 27, 128);
    margin-bottom: 20px;
}

.form button:hover{
    
    background-color:rgb(46, 17, 73);
    transition:1s;
    cursor: pointer;
}

input{
    margin: 10px 0;
}


.form .midias{
    width:100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.form .midias a{
    color:rgb(79, 27, 128);
    font-size: 26px;
}

.form .esqueci a:hover{
    text-decoration: none;
    color: darkgrey;
}

.esqueci a{
    font-size: 13px;
    margin-top: 10px;
}


