@charset "utf-8";

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* inicio do header */

header{
    width: 100%;
    height: 60px;
    background-color: rgb(27, 27, 118);
    padding: 10px;
}

header h1{
    color: tomato;
    cursor: pointer;
}

header .container-header{
    max-width: 1280px;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container-header nav{
    display: flex;
    gap: 50px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .container-header nav a{
    color: #fff;
    text-decoration: none;
    padding:20px;
}

header .container-header nav a:hover{
    background-color: tomato;
    color: #fff;
    padding: 20px;
    transition: 1s;

}

/* main */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #ccc;
    animation-name: inicio;
    animation-duration: 60s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes inicio {
    0%{
        background-image: url('imagens/imagem01.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    15%{
        background-image: url('imagens/imagem02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    25%{
        background-image: url('imagens/imagem03.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    35%{
        background-image: url('imagens/imagem04.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    45%{
        background-image: url('imagens/imagem05.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    55%{
        background-image: url('imagens/imagem06.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    65%{
        background-image: url('imagens/imagem07.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    75%{
        background-image: url('imagens/imagem08.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    85%{
        background-image: url('imagens/imagem09.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    100%{
        background-image: url('imagens/imagem10.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
   
}

main .buscar{
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 100px;
    padding: 0 2%;

}

form{
    display: flex;
    align-items: center;
    padding: 0 2%;
}


form input[type=text]{
    width:500px;
    height: 60px;
    padding-left: 20px;
    border: none;
    font-size: 20px;
}

form input[type=submit]{
    width: 100px;
    height: 60px;
    background-color: tomato;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px tomato;
    border: none;
}

.container-card{
    width: 100%;
    height: 300px;
    background-color: rgb(27, 27, 118);
}