@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    list-style-type: none;
}

:root {
    --corfonte: #FEFCFB;
    --corFundo: #16302B;
    --corDestaque: #FCAB10;
    --corDestaque2: #2B9EB3;
}

.none {
    display: none;
}

.block {
    display: block;
}

main {
    width: 100%;
    height: 100vh;
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    nav {
        width: 350px;
        height: 90%;
        background-color: var(--corfonte);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 10px 0 0 10px;

        .containerImage {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 280px;
                height: 280px;
                border-radius: 50%;
                background-color: var(--corDestaque);
            }
        }

        .containerTitle {
            width: 100%;
            padding: 10px 15px;
            text-align: center;

            h1 {
                font-size: 1.8rem;
                color: var(--corFundo);
            }

            h2 {
                font-size: 1.3rem;
                padding: 5px 0;
                font-weight: 300;
                color: #243733;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 1rem;

            a {
                font-size: 1.8rem;
                color: #2B9EB3;
            }
        }

        .containerBTN {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 15px;
            margin-top: 10px;

            button {
                outline: none;
                border: 0;
                height: 2.8rem;
                border-radius: 20px;
                background-color: var(--corDestaque);
                color: var(--corfonte);
                font-size: 1.2rem;
                font-weight: bold;
                transition: all .4s;
                cursor: pointer;
            }

            button:hover {
                background-color: var(--corfonte);
                border: 2px solid var(--corDestaque);
                color: var(--corDestaque);
            }
        }

    }

    .containerInfo {
        width: 850px;
        min-width: 500px;
        height: 90%;
        background-color: var(--corfonte);
        border-radius: 0 10px 10px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .containerTitle {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid var(--corFundo);

            h1 {
                color: var(--corFundo);
                font-weight: 400;
                font-size: 1.5rem;
            }
        }

        .containerText {
            width: 100%;
            height: 200px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
                line-height: 1.5rem;
                font-size: 1.1rem;
                font-weight: 200;
            }
        }

        .containerTech {
            width: 100%;
            height: 52vh;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            ul {
                width: 100%;
                padding: 10px 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 5px;

                    i {
                        font-size: 3rem;
                    }

                    a {
                        text-decoration: none;
                        color: var(--corFundo);
                        padding: 10px 0;
                    }
                }
            }
        }

        /*Section project*/

        .project {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            overflow-y: auto;

            .containerTitle {
                position: sticky;
                top: 0;
                background-color: var(--corfonte);
            }

            .cardProject {
                height: 25%;
                flex: 30%;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #16302b4b;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                transition: all .5s ease-in-out;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 50%;
                }

                h3 {
                    color: #243733;
                    font-weight: 300;
                    font-size: 1rem;
                }

                a {
                    text-decoration: none;
                    background-color: #FCAB10;
                    padding: 8px 16px;
                    border-radius: 8px;
                    color: var(--corfonte);
                    font-size: 1rem;
                    font-weight: bold;
                }

            }

            .cardProject:hover{
                transform: translatey(-10px);
                background-color: #2B9EB3;
                color: var(--corfonte);

            }
        }

    }
}