@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  border-radius: 5px;
  font-size: 1rem;
}

:root {
  --corFonte: #FEFCFB;
  --corFundo: #16302B;
  --corDestaque: #FCAB10;
  --corDestaque2: #2B9EB3;
}

.contaierGeneral{
  width: 90%;
  min-width: 767px;
  height: 90vh;
  padding: 15px;
  background-color: var(--corFundo);
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50% , -50%);

  display: flex;
  gap: 1rem;
  justify-content: space-between;

}


h1{
  font-size: 1.8rem;
  font-weight: 300;
}

h2{
  font-size: 1.3rem;
  font-weight: 700;
}

h4{
  font-size: .9rem;
  padding: 10px 0;
}