.containerControls {

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            padding: 10px   ;
            display: flex;
            width: 100%;
            justify-content: center;
            border: 2px solid var(--corDestaque2);
            color: var(--corDestaque2);
            font-size: 1.2rem;
            font-weight: bold;
            transition: all .4s ease-in-out;

        }

        a:hover{
            background-color: var(--corDestaque2);
            color: var(--corFonte);
            transition: all .4s ease-in-out;
            font-size: 1.29rem;
        }
    }
}