/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Universal */

:root{
    --corescura:#0f0f0f;
    --corclara:#f2f2f2;
}

.center{
    width: 90%;
    margin: 0 auto;
}

/* Iniciando o código */


/* header */

header{
    background-color:var(--corescura);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnHamburguer i{
    color: var(--corclara);
    font-size: 25px;
    display: none;
}

.carrinho{
    width: 30%;
}

.carrinho i{
    color: var(--corclara);
    font-size: 20px;
    cursor: pointer;
}

 #header #containerCarrinho{
    width: auto;
    height: auto;
    background-color: #ffffff67;
    position: absolute;
    top: 60px;
    z-index: 1;
    backdrop-filter: blur(5px);
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

#containerCarrinho #btnFinalizarCompra{
    background-color: darkorange;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    font-size: 18px;
    font-weight: bold;
    display: none;
    margin-top: 10px;
    color: var(--corclara);
    cursor: pointer;
}

#containerCarrinho #btnFinalizarCompra:hover{
    background-color: rgb(186, 102, 0);
}

#containerCarrinho #cardCarrinho{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f0f0f3d;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
    display: none;
}

#cardCarrinho div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

#cardCarrinho img{
    width: 150px;
    height: 150px;
    border-radius: 10px 0 0 10px;
}

#cardCarrinho h4{
    font-size: 25px;
    color: var(--corclara);
}

#cardCarrinho p{
    padding-top: 10px;
    color: var(--corclara);
    font-size: 18px;
}


.logo img{
    height: 80px;
}

.menu{
    display: flex;
    gap: 40px;
}
.menu a{
    text-decoration:none ;
    color: var(--corclara);
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;

}

.menu a:hover{
    border-bottom: 3px solid var(--corclara);
    transition: .5s;
    color: #f2f2f2e4;
}


/* main */

main{
    width: 100%;
    height: calc(100vh - 100px);
}

#main{
    display: flex;
    align-items: center;
}

main .container-esquerda, main .container-direita{
    width: 50%;
    height: calc(100vh - 90px);
}

/* container lado esquerdo */

main .container-esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.card-imagens{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-imagens .imagem-principal{
    width: 100%;
    height: 75%;
}

.imagem-principal img, .itens img{
    width: 100%;
    height: 100%;
}

.card-imagens img:hover{
    opacity: .9;
    cursor: pointer;
}

.card-imagens .grupo-de-imagens{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-de-imagens .itens{
    width: 33.4%;
    height: 100%;
}

/* container lado direito */

main .container-direita{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;

}

.container-direita .titulo{
    width: 90%;
    font-size: 2em;
    padding: 10px 0;
}

.container-direita .descricao{
    width: 90%;
    line-height: 24px;
    font-size: .9em;
    font-weight: lighter;
}

.container-direita .preco{
    width: 90%;
    height: 150px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.preco .preco-antigo{
    font-size: 1.2em;
    font-weight: 100;
    color: #313131;
    
}

.preco .preco-novo{
    font-size: 2em;
    font-weight: bold;
}

.preco .container-tamanho{
    width: 90%;
    height: 100px;
}

.container-tamanho div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-tamanho button{
    list-style-type: none;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--corescura);
    cursor: pointer;
    background-color: #fff;
}

.container-tamanho button:hover{
    color: var(--corclara);
    background-color: var(--corescura);
}
.container-direita .container-controles{
    width: 90%;
    height: 50px;
    display: flex;
}

.container-controles .comprar{
    width: 50%;
    height: 100%;
    background-color: #0f0f0f;
    color: var(--corclara);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
}

.container-controles .comprar:hover{
    background-color: #232323;
    cursor: pointer;
}

.container-controles .controles{
    width: 50%;
    height: 100%;
}

.controles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles button{
  width: 40px;
  height: 30px;
  background-color: var(--corclara);
  border: none;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controles button:hover{
    cursor: pointer;
}

.controles #quantidade{
    width: 100px;
    height: 30px;
    border: 1px solid var(--corescura);
    color: var(--corescura);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.controles2{
    width: 90%;
    height: 100px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-adicionar, .btn-favorito{
    width: 50%;
    height: 50px;
    background-color: transparent;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}



