*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    list-style-type: none;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}

form{
    width: 49%;
    height: 100vh;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
}

button{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
ul{
    padding: 30px 10px ;
    width: 49%;
    display: flex;
    flex-direction: column;
}

.lista{
    padding: 15px 60px 15px 10px;
    text-align: justify;
    width: 50%;
    min-height: 50px;
    background-color: #f1f1f1;
    position: relative;
    margin: 10px 0;
}

.fechar{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    height: 50px;
    width: 50px;
    font-size: 16px;
}

