

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --corescura:#030303;
    --corneutro:#f3f3f3;
    --cordestaque:#5757ff;
}
.container-geral{
    width: 60%;
    min-width: 500px;
    height: 90vh;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-home{
    width: 40%;
    height: 48%;
    box-shadow: 1px 1px 12px rgba(110, 110, 110, 0.432);
    margin: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-home i{
    font-size: 50px;
    color: var(--corescura);
}

.card-home a {
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
    color: var(--corescura);
}

.card-home:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.096);
}


/* layout geral */

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--corneutro);
    display: flex;
    justify-content: space-between;
}

/* controles */

.container .controles{
    width: 20%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

.controles .logo{
    width: 100%;
    text-align: center;
}

.logo i{
    font-size: 50px;
    margin: 50px 0 20px  0;
}

.controles ul{
    width: 100%;
}

.controles ul li{
    width: 100%;
    padding: 25px 10px;
    border-left: 5px solid transparent;
}

.controles ul li:hover{
    background-color: var(--corneutro);
    cursor: pointer;
    border-left: 5px solid var(--cordestaque);
}

.controles .calendário{
    width: 100%;
}

input[type="date"]{
    width: 100%;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.contato-suporte{
    text-align: center;
    font-size: 1.1em;
}

/* notification */

.atualizacao{
    width: 100%;
    height: 50px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 25px;
    background-color: var(--corneutro);
    color: var(--corescura);

}

.atualizacao-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-basic{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.box-notification{
    position: absolute;
    top: 40px;
    right: 80px;
    background-color: var(--corneutro);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.463);
    width: 350px;
    height: 250px;
    overflow: auto;
    border-radius: 10px;
    z-index: 1;
    display: none;
}

#notification:checked~.box-notification{
    display: block;
}

#notification:checked~i{
    color: var(--cordestaque);
}


.atualizacao i{
    cursor: pointer;
}

.atualizacao i:hover{
    color: var(--cordestaque) ;
}

#btn-home{
    color:var(--corescura)
}

/* página embalagem */

.painel{
    width: 79.5%;
    height: 100vh;
    background-color: #fff;
}

.container-lista{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
}

.lista-programada{
    width: 48%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    margin: 0 10px;
}


.container-lista h3{
    padding: 12px 0;
}

.card-lista{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: var(--corneutro);
}

.card-lista:hover{
    background-color: white;
    cursor: pointer;
}

#insumos:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#notas:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#ordem:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#gerar:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#planejamento:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#consultar-saldo:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#CQI:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#estrutura:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}


#requisicao:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}
#semi-acabado:checked~li {
    color: var(--cordestaque);
    background-color: var(--corneutro);
}

#gerar:checked~.container-etiquetas{
    display: block;
}
/* modal de gerar etiquetas */

.container-etiquetas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.805);
    display: none;
    
}

.container-etiquetas i{
    color: white;
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    font-size: 25px;
}

.container-etiquetas form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    height: 400px;
    width: 500px;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corneutro);
}

.container-etiquetas .tipo input[type=radio]{
    display: block;
    margin: 0 12px;
}

.container-etiquetas .tipo{
    display: flex;
    align-items: center;
}

.container-etiquetas .container-input{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-etiquetas .botoes{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.botoes button{
    height: 50px;
    width: 100%;
    background-color: var(--cordestaque);
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 1px 0;
}

.botoes button:hover{
    background-color: #4545ce;
}


.container-etiquetas input{
    height: 50px;
    margin: 0 5px;
    width: 50%;
    padding-left: 10px;

}




input[type=radio]{
    display: none;
}

input[type=checkbox]{
    display: none;
}







