*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerGeral{
    width: 80%;
    height: 80vh;
    background-color: #ccc;
    display: flex;
}

.containerQuestao{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.containerTexto{
    width: 100%;
    height: 35%;
}

#titulo{
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    padding-left: 15px;
}

#questao{
    padding-left: 15px;
    font-weight: lighter;
    font-size: .9em;
    line-height: 20px;
    color: rgb(28, 28, 28);
}

.containerCard{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Card{
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.containerControles{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.containercontroleQuestao{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containercontroleQuestao button{
    height: 42px;
    cursor: pointer;
    border: none;
}

.containerFinalizar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerFinalizar button{
    background-color: rgb(12, 12, 158);
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}


