
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    cursor: url('imagens/imagens/mata_mosca.png') 30 30, auto;
}

body{
    background-image: url('imagens/imagens/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body img{
    height: 70vh;
    width: 90%;
    max-width: 500px;
}


.container-controle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn-reiniciar, #dificuldade{
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    background-color: #f1f1f1;
    border: 2px solid transparent;

}

.btn-reiniciar{
    padding: 10px 70px;
}

.btn-reiniciar:hover{
    background-color: #cc0f0f;
    color: #fff;

}



/* tamanho aleatório do mosquito*/

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 100px;
    height: 100px;
}

/* lado do mosquito */ 

.ladoA{
    transform: scalex(1);
}

.ladoB{
    transform: scalex(-1);

}

/* painel */ 

#jogo .painel{
    width: 220px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: .7;
    background-color: #fff;
    border-top: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.518);
}

#jogo .vidas{
    float: left;
    display: flex;
}

#jogo .vidas img{
    height: 40px;
}

#jogo .tempo{
    float: left;
    font-size: 20px;
    font-weight: bold;
}