@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --cordefundo: #0c0311;
    --corfundocard:#ffffff04;
    --corclara:#EEE5E9;
    --cordefonte:#eee5e96d;

}


body{
   background-color: var(--cordefundo);
    animation-name: background-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

   }

   @keyframes background-animation{
    0%{
        background: rgb(12,3,17);
    background: linear-gradient(270deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
    opacity: .9;
    }
    10%{
        background: rgb(12,3,17);
        background: linear-gradient(309deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
    17%{
        background: rgb(12,3,17);
        background: linear-gradient(355deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
    25%{
        background: rgb(12,3,17);
        background: linear-gradient(317deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
    50%{
        background: rgb(12,3,17);
        background: linear-gradient(354deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }

    55%{
        background: rgb(12,3,17);
        background: linear-gradient(241deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
    75%{
        background: rgb(12,3,17);
        background: linear-gradient(72deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
    100%{
        background: rgb(12,3,17);
        background: linear-gradient(150deg, rgba(12,3,17,1) 19%, rgba(0,85,92,1) 100%);
        opacity:.9;
    }
   }

.container-geral{
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0 .5%;
    display: flex;
    justify-content: space-between;    
}

input[type=checkbox]{
    display: none;
}

.checkbtn{
    display: none;
}


.container-geral .container-esquerda{ /*container esquerda */
    width: 13%;
    min-width: 210px;
    height: 100%;
    background-color:var(--corfundocard);
    box-shadow: 30px 0px 30px #eee5e915;
}

.container-esquerda .logo{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 0px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/All_Music_Guide_Logo.svg/320px-All_Music_Guide_Logo.svg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#logo{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 0px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/All_Music_Guide_Logo.svg/320px-All_Music_Guide_Logo.svg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}



.container-esquerda .menu{
    width: 100%;
    margin-top: 40px;

}

.container-esquerda #categorias{
    margin-left: 10px;
}


.container-esquerda .menu li{
    color: var(--cordefonte);
    width: 100%;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 1.1em;
}

.container-esquerda .menu li:hover{
    cursor: pointer;
    color:white;
    transition: .6s;
    padding-left: 30px;
}

.container-geral .container-centro{ /*Container centro */
    width: 1000px;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-centro .topo{
    width: 100%;
    min-width: 640px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.topo .container-populares{
    width: 100%;
    min-width: 640px;
    height: 50%;
    padding: 5px 2%;

}

.topo .container-card{
    min-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}   



.topo .container-recentes{
    width: 100%;
    height: 50%;
    padding: 5px;
    margin-top: 12px;
}

.container-centro .baixo{
    width: 100%;
    min-width: 640px;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.container-card2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-geral .container-direita{ /* container direita */
    width: 13%;
    min-width: 200px;
    height: 100vh;
    box-shadow: -30px 0px 50px #eee5e915;  
    
}



.container-direita .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.container-direita .menu a{
    color: var(--cordefonte);
    padding: 5px 20px;
}

.menu a:hover{
    cursor: pointer;
    color:white;
    transition: .4s;
}

a{
    color: var(--corclara);
    padding: 2px 20px;
}









/* uso geral */

.rotulo{
    color: var(--corclara);
    margin: 10px 0px;
    padding-left:10px;
    font-size: .8em;
    clear: both;
    }

.rotulos-maiores{
    width: 100%;
    color: var(--corclara);
    text-align: center;
    margin-top: 20px;
    position: relative;
    top: 12px;
}


.card{
    cursor: pointer;
    width: 170px;
    min-width: 150px;
    height: 200px;
    border-radius: 10px;
    color: var(--corclara);
    text-align: center;
    margin-top: 22px;
    padding: 2px;
}


.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card img:hover{
    opacity: .3;
    transition: .5s;
}

.card2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    color: var(--corclara);
    text-align: center;
    cursor: pointer;

}
.card2:hover{
    position: relative;
    top: -10px;
}

.card2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
}

.card2 img:hover{
    opacity: .4;
    transition: .4s;
    
}

#titulo-artista-em-alta{
    position: relative;
    top: -9px;
}
